.root-page {
  width: 80%;
  // background: red;
  margin: auto;
}
.framecarousel {
  display: flex;
  // flex-direction: row;
  // align-content: flex-start;
  // justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.imgsidecarousel {
  margin-left: 8px;
  width: 26vw;
  height: 17.2vw;
  border-radius: 8px;
}

/* MOBILE WIDTH < 740px */
@media screen and (max-width: 769px) {
  .root-page {
    width: 95%;
  }
  .framecarousel {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    .imgsidecarousel {
      display: none;
    }
  }
}

/* TABLET WIDTH >=740px and width < 1024px*/
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .root-page {
    width: 95%;
  }
  .framecarousel {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    .imgsidecarousel {
      display: none;
    }
  }
}
