.boxlogo {
  display: flex;
}
.labellogo {
  margin-left: 10px;
  font-size: 13px;
  line-height: 20px;
}

.imglogofs2 {
  padding-top: 10px;
}

.localicon {
  padding-top: 12px;
}

.boxlogo1 {
  display: flex;
}

.list {
  margin-left: 30px;
}
.promotionbox {
  margin-left: -50px;
}
